// mixins 
@mixin Linkstyling {
  padding: 10px 15px;

  button {
    background: none;
    outline: none;
    border: none;
    transition: transform .2s; /* Animation */

      :hover {
        color: yellow;
        transform: scale(1.1);
      }
  }

  p {
    color: white;
  }

  i {
    color: white;
  }
}
//end of mixins

html {
  scroll-behavior: smooth;
}


// title section 
#title {
  height: 977px;
  background-image: url("../images/title-img.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  box-shadow: 0 3000px rgba(0, 0, 0, 0.808) inset;

  @media only screen and (max-width: 440px) {
    height: 1172.4px;
  }
}

.name {
  padding-top: 20vh;
  text-align: center;

    h1 {
      color: white;
      font-family: 'Lato', sans-serif;
      font-size: 7rem;
      font-weight: bold;
      letter-spacing: 5px;

      @media only screen and (max-width: 768px) {
        font-size: 4rem;
      }

      @media only screen and (max-width: 440px) {
        font-size: 3rem;
        text-align: left;
        padding: 0 20px;
      }
    }
}

.position {

  padding-bottom: 30px;

  h2 {
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    font-weight: bold;

    @media only screen and (max-width: 768px) {
      font-size: 2rem;
    }

    @media only screen and (max-width: 429px) {
      font-size: 1.5rem;
      text-align: left;
      padding: 0 20px;
    }
  }
}

.links {
  text-align: center;
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  flex-wrap: wrap;

  @media screen and (min-width: 2104px) and (max-width: 4000px) {
    justify-content: center;
}

  @media only screen and (max-width: 429px) {
    justify-content: center;
    margin: 0 0;
  }

    .git-link {
      @include Linkstyling();
    }

    .linkedin-link {
      @include Linkstyling();
    }

    .email-link {
      @include Linkstyling();
    }

    .resume-link {
      @include Linkstyling();
    }
}

.about-me {
  padding-bottom: 100px;
  width: 75%;
  margin: auto;

  @media only screen and (max-width: 768px) {
    width: 100%;
  }

  .text-container {
    margin: 0 100px;
    @media only screen and (max-width: 429px) {
      margin: 0 0;
      padding: 0 20px;
    }

      h3 {
        text-align: center;
        color: white;
        font-family: 'Montserrat', sans-serif;

        @media only screen and (max-width: 429px) {
          text-align: left;
        }
      }
  }
}

.projects-prompt {
  margin-top: 80px;
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;

    @keyframes change-color {
      0% {color: white;}
      50% {color: yellow;}
      100% {color: white;}
    }

    button {
      background: none;
      border: none;
      color: white;
      animation-name: change-color;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }

    .showProjects-btn {
      color: inherit;
    }
}

//END OF TITLE SECTION


// PROJECTS SECTION 
#projects {
  padding-bottom: 5rem;
  font-family: 'Lato', sans-serif;
  font-weight: bold;

    h3 {
      font-weight: bold;
    }

    .projects-title {
      text-align: center;
      padding-top: 3rem;
      padding-bottom: 3rem;

    .recent-project-title {
      color: black;
      font-size: 3rem;
      font-family: 'Lato', sans-serif;
      font-weight: bold;
    }

    hr {
      border: 1px solid black;
      width: 75%;
    }
  }

    .project1, .project2, .project3, .project4 {
      padding-bottom: 40px;
    }

    .card {
      border: 2px solid black;
    }

    img {
      outline: 1px solid black;
    }

    img:hover {
      filter: brightness(0.7);
    }

    .btn {
      margin: 0 10px;
    }
  }

  // END OF PROJECTS SECTION 

  // FOOTER SECTION 
  #footer {
    height: 9rem;
    background-color: rgb(41, 40, 40);
    color: white;
    padding-bottom: 30px;

      p {
        padding-top: 20px;
        text-align: center;
      }

      .link-container {
        display: flex;
        justify-content: center;
      }

      .git-link {
        @include Linkstyling();
        padding: 5px 10px;
      }

      .linkedin-link {
        @include Linkstyling();
        padding: 5px 10px;
      }

      .email-link {
        @include Linkstyling();
        padding: 5px 10px;
      }

      .resume-link {
        @include Linkstyling();
        padding: 5px 10px;
      }
  }

  // END OF FOOTER SECTION 